
html {
	margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 80%;
}
.titleBar {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   width: 100%;
   height: 720px;
   background-image: url(bling.png);
   background-size: 75%; 
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.titleBar #boy{
  position: absolute;
  top: 20%;
  left: 35%;
}
.titleBar #arrow{
  position: relative;
  top: 0;
  left: 40%;
   opacity: 0.5;
}

.titleBar h3{
  position: absolute;
  top: 75%;
  left: 40%;
  font-family: 'Shadows Into Light', cursive;
  color:#D3D3D3;
  letter-spacing: 4px;
  font-size: 30px;
}
table, td, th {
  border: none;
}

table.table1,td,th {
  width: 850px;
  text-align: center;
  padding: 0;
}
.searchSection {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   height: 650px;
   background: linear-gradient(to top, #ccccff 0%, #66ffcc 100%); 
   /* background:linear-gradient(to top, #ccccff 0%, #99ffcc 100%); */
}

.youtubeSection{
  height: 130px;
  background: white;
}

.youtubeSection #search{
          position: relative;
          left: 21.7%; 
          top: 14px;     
}

.youtubeSection #searchI {    
       position: relative;   
         /* left: 15.7%; */      
         font-family: 'PT Sans', sans-serif;
          font-size: 100%;
          opacity: 0.8;
          display: block;
          border: 1px solid grey;
          padding: 6px; 
          width: 36%;
          height: 2%; 
          border-radius: 9px;
          text-align: center;
}

.youtubeSection #searchB {   
         position: relative;  
          left: 47%;
          top:  -35px;
          cursor: pointer;  
} 

.youtubeSection #searchB:hover {
    /* filter:drop-shadow(8px 8px 10px #D2ACF9); */
    -webkit-filter: saturate(7); filter: saturate(7);}
    /* -webkit-filter: contrast(180%);filter: contrast(180%);} */


table.table2 {
  position: relative;
  left: 130px;
  top:  60px;
  width: 1000px;
  text-align: center;
  padding-bottom: 35px; 
  padding-top: 35px; 
 padding-left: 5px;
 padding-right: 5px;
}

.table2 #video{
 width: 600px;
  padding-left: 35px;
 padding-right: 35px;
}

.table2 #text{
 padding-left: 25px;
 padding-right: 25px;

}

.table2 td {
 background-color: #F2F5F7; 
   box-shadow: 1px 1px 50px #EAF2F1;
   block-size: 400px;
 
}

 h3{
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: 'Russo One', sans-serif;  
 /* font-family: 'Staatliches', cursive; */
  font-size: 21px;
  color:#4A4A4A; 
 /* background-color: red;  */

} 

p {
  
font-family: 'Caveat', cursive;
  font-size: 22px;
  /* color:#4A4A4A; */
}


.col{
  width: 100%;
} 





/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
