html {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 80%;
}
.titleBar {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   height: 698px;
   background-image: url(laptop_flat2.png);
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: #66ffcc;
   background-size: 65%;
   background-position-y: 50px;

}
.titleBar #boy{
   display: flex;
   position: absolute; 
   justify-content: center;
   align-items: flex-start;
   height: 58%;
   width: 65%;
   top: 77px;
}

.titleBar #arrow{
  display: flex;
   position: absolute; 
   justify-content: center;
   align-items: flex-start;
    top: 64%;
   opacity: 0.5;
}

/* .titleBar h3{
  position: absolute;
  top: 75%;
  left: 40%;
  font-family: 'Shadows Into Light', cursive;
  color:#D3D3D3;
  letter-spacing: 4px;
  font-size: 30px;
} */

.searchSection {   
   height: 700px;
   background: linear-gradient(to top, #ccccff 0%, #66ffcc 100%); 
   /* background:linear-gradient(to top, #ccccff 0%, #99ffcc 100%); */
}

/* .youtubeSection{
  height: 130px;
  background: white;
} */

.searchSection #search{
  /* align-items: flex-start; */
          z-index: 3;
          width: 100%;
          /* background: #66ffcc; */
          height: 12.5%;
          opacity: 0.8;
          /* top: 610px; */
}

.searchSection #searchI {    
       position: relative;   
         /* left: 15.7%; */      
         font-family: 'PT Sans', sans-serif;
          font-size: 100%;
          opacity: 0.8;
          display: block;
          /* border: 1.5px solid #90F918;
          box-shadow: 2px 2px 3px #D4FE7E; */
          border: 0.5px solid #F5F5F5;
          box-shadow: 2px 2px 3px #383838; 
          padding: 6px; 
          width: 58%;
          height: 28%; 
          border-radius: 9px;
          text-align: center;
          top: 20%;
          left: 21.9%;   
          /* left: 23.5%; */
}

.searchSection #searchB {   
         position: relative;  
          left: 77.5%;
           top:  -15px; 
          cursor: pointer;  
} 

.searchSection #searchB:hover {
    /* filter:drop-shadow(8px 8px 10px #D2ACF9); */
    -webkit-filter: saturate(7); filter: saturate(7);}
    /* -webkit-filter: contrast(180%);filter: contrast(180%);} */

table, td, th {
  border: none;
}

table.table1,td,th {
  position: relative; 
  top: -30px;
  width: 850px;
  left: 10%;
  text-align: center;
  padding: 0;
}


table.table2 {
  position: relative;
  left: 1%; 
  top:  15px;
  width: 1000px;
  text-align: center;
  padding-bottom: 35px; 
  padding-top: 35px; 
 padding-left: 5px;
 padding-right: 5px;
}

.table2 #video{
 width: 600px;
  padding-left: 35px;
 padding-right: 35px;
}

.table2 #text{
 padding-left: 25px;
 padding-right: 25px;

}

.table2 td {
 background-color: #F2F5F7; 
   box-shadow: 1px 1px 50px #EAF2F1;
   block-size: 400px;
 
}

 h3{
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: 'Russo One', sans-serif;  
 /* font-family: 'Staatliches', cursive; */
  font-size: 21px;
  color:#4A4A4A; 
 /* background-color: red;  */

} 

p {  
font-family: 'Caveat', cursive;
  font-size: 22px;
  /* color:#4A4A4A; */
}
